{% extends 'content.html' %}
{% load i18n %}

{% block add_head %}
{% endblock add_head %}

{% block add_foot %}
{% endblock add_foot %}

{% block content_body %}

<p class="fs-4 text-muted text-center">
Functional Materials Laboratory<br>
ETH Zürich<br>
Vladimir-Prelog-Weg 1<br>
HCI E109<br>
8093 Zürich<br>
Switzerland<br><br>
For up-to-date contact information, please visit <a href="https://fml.ethz.ch/people.html">fml.ethz.ch</a>.
</p>
<br><br>
<h1 class="display-6 lh-1 mb-3">Copyright</h1>
<p class="lead">
The copyright for all contents on this website lies with the Functional Materials Laboratory, ETH Zürich.
</p>

<br><br>

<h1 class="display-6 lh-1 mb-3">Privacy Policy</h1>

<p class="lead">
We process personal data in accordance with Swiss data protection legislation and, where applicable, in accordance with the EU General Data Protection Regulation (GDPR). This website hosts a non-profit tool for the simulation of DNA data storage processes. It only collects personal data to the extent required to achieve the aforementioned objective. To this end, server log files store the IP address of the accessing computer and the time of the server request. This website also uses cookies, whose sole purpose is the validation of form inputs. Any data submitted via forms is only used to process the request and is only kept for as long as required. Users have the possibility to delete their submitted data at any time.
</p>

{% endblock content_body %}